<h1>Articles Listing page!</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render "articles", articles: @articles %>
  </tbody>
</table>
<%= link_to "New Article", new_article_path %>
<%= link_to "Signup", signup_path %>
